<!-- This is an HTML template a flask application. This file is the first page of a wizard that allows the user to enter details about a project. -->
<!-- The user can enter a project name, company name, industry, and use case. -->
<!-- On clicking the "Next" button, the form should be submitted to the /research_objectives flask route. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🤖 Knit AI Survey Generator</title>
    <!-- Link css file in the /css folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script>
      function loading() {
          if (document.querySelector(".input").value != "") {
          // Create a translucent overlay over the entire page. Change the opacity of the overlay to 0.5
          var overlay = document.createElement('div');
          overlay.id = 'overlay';
          overlay.style.position = 'absolute';
          overlay.style.top = 0;
          overlay.style.left = 0;
          overlay.style.width = '100%';
          overlay.style.height = '100%';
          overlay.style.background = "rgba(255, 255, 255, 0.7)";
          overlay.style.zIndex = 1000;
          document.body.appendChild(overlay);
          // Load a loading gif from the /static folder and display it in the center of the page
          var loadingGif = document.createElement('img');
          loadingGif.id = 'loadingGif';
          loadingGif.src = "{{ url_for('static', filename='Infinity-1.8s-544px.gif') }}";
          // the gif should be 200 pixels wide and 200 pixels high
          loadingGif.style.width = '200px';
          loadingGif.style.height = '200px';
          // the gif should be positioned exactly at the center of the page (vertically and horizontally) even if the user scrolls the page
          loadingGif.style.position = 'fixed';
          loadingGif.style.top = '50%';
          loadingGif.style.left = '50%';
          loadingGif.style.marginTop = '-100px';
          loadingGif.style.marginLeft = '-100px';
          loadingGif.style.zIndex = 1001;
          document.body.appendChild(loadingGif);
          // Display a message "Loading..." right below the loading gif and center it horizontally
          var loadingMessage = document.createElement('p');
          loadingMessage.id = 'loadingMessage';
          loadingMessage.innerHTML = 'Understanding your business...';
          loadingMessage.style.position = 'fixed';
          loadingMessage.style.top = '50%';
          loadingMessage.style.left = '50%';
          loadingMessage.style.marginTop = '100px';
          loadingMessage.style.marginLeft = '-228px';
          loadingMessage.style.zIndex = 1001;
          document.body.appendChild(loadingMessage);
          }
      }
  </script>
</head>

<body>
    <div class="wrapper">
        <div id="wizard" class="wizard">
          <div class="wizard__content">
            <header class="wizard__header">
              <div class="wizard__header-overlay"></div>
              
              <div class="wizard__header-content">
                <h1 class="wizard__title" >🤖 Knit's AI Survey Generator</h1>
                <p class="wizard__subheading">Create bespoke survey designs in minutes.</p>
              </div>
              
              <div class="wizard__steps">
                <nav class="steps">
                <div class="step -completed">
                  <div class="step__content">
                    <p class="step__number">📃</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -start">
                      </div>
      
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div>  
                  </div>
                </div>
      
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">🔎</i></p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
      
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">🎉</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
              </nav>
              </div>
            </header>
            
            
            <div class="panels">
              <div class="panel">
                  <header class="panel__header">
                    <h2 class="panel__title">Business Overview</h2>
                    <p class="panel__subheading">Tell the AI a little about your business.</p>
                  </header>
                 
                 
                <form action="{{ url_for('research_objectives') }}" method="POST">
                  <input type="hidden" name="project_name" value="{{ project_name }}">
                  <input type="hidden" name="company_name" value="{{ company_name }}">
                  <input type="hidden" name="use_case" value="{{ use_case }}">
                  <input type="hidden" name="industry" value="{{ industry }}">
                  <p class="panel__content">Please give us a 1-2 sentence overview of your business</p>
                  <div style="background-color:#eeeeee; border-radius: 10px; padding: 10px 20px 10px 20px; margin-top: 10px; margin-bottom: 20px; width: 80%">
                  <p>💡 <b>Example Business Overview</b></p>
                  <p>{{ business_overview }}</p>
                  </div>
                  <textarea class="input" rows="5" id="business_overview" placeholder="Enter your business overview" name="business_overview" required></textarea>
                  <div class="wizard__footer">
                    <input type="submit" class="button next" value="Next" onclick="loading();"></input>
                  </div>
                </form>
                 
                </div>
            </div>
      
            
          </div>
        </div>
      </div>      
</body>
<script >
  let input = document.querySelector(".input");
  let button = document.querySelector(".button.next");
  
  // button.disabled = true; //setting button state to disabled
  
  input.addEventListener("change", stateHandle);
  
  function stateHandle() {
      if (document.querySelector(".input").value === "") {
          button.disabled = true; //button remains disabled
      } else {
          button.disabled = false; //button is enabled
      }
  }
</script>
</html>
