<!-- This is an HTML template a flask application. This file is the first page of a wizard that allows the user to enter details about a project. -->
<!-- The user can enter a project name, company name, industry, and use case. -->
<!-- On clicking the "Next" button, the form should be submitted to the /research_objectives flask route. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🤖 Knit AI Survey Generator</title>
    <!-- Link css file in the /css folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body>
    <div class="wrapper">
        <div id="wizard" class="wizard">
          <div class="wizard__content">
            <header class="wizard__header">
              <div class="wizard__header-overlay"></div>
              
              <div class="wizard__header-content">
                <h1 class="wizard__title" >🤖 Knit's AI Survey Generator</h1>
                <p class="wizard__subheading">Create bespoke survey designs in minutes.</p>
              </div>
              
              <div class="wizard__steps">
                <nav class="steps">
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">📃</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -start">
                      </div>
      
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div>  
                  </div>
                </div>
      
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">🔎</i></p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
      
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">🎉</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
              </nav>
              </div>
            </header>
            
            
            <div class="panels">
              <div class="panel">
                  <header class="panel__header">
                    <h2 class="panel__title">Project Information</h2>
                    <p class="panel__subheading">Enter your project details to get started.</p>
                  </header>
                 
                
                <form action="{{ url_for('business_overview') }}" method="POST">
                  <p class="panel__content">What do you want to call your project?</p>
                  <input class="input" id="project_name" placeholder="Project Name" name="project_name" type="text" required>
                  <p class="panel__content">What is the name of your business?</p>
                  <input class="input" id="company_name" placeholder="Company Name" name="company_name" type="text" required>
                  <p class="panel__content">What is your industry?</p>
                  <select class="input" id="industry" name="industry" required>
                    <option selected disabled hidden>Select an industry</option>
                    <option value="cpg">CPG</option>
                    <option value="consumer tech">Consumer Tech</option>
                    <option value="sports">Sports</option>
                    <option value="beauty and fashion">Beauty and Fashion</option>
                    <option value="retail">Retail</option>
                    <option value="travel and hospitality">Travel and Hospitality</option>
                    <option value="healthcare">Healthcare</option>
                    <option value="other">Other</option>
                   </select>
                  <p class="panel__content">What is your use case?</p>
                  <select class="input" id="use_case" name="use_case" required>
                    <option selected disabled hidden>Select a use case</option>
                    <option value="concept testing">Concept Testing</option>
                    <option value="consumer segmentation">Consumer Segmentation</option>
                    <option value="brand strategy">Brand Strategy</option>
                    <option value="competitor analysis">Competitor Analysis</option>
                    <option value="other">Other</option>
                   </select>
                   <div class="wizard__footer">
                    <input type="submit" class="button next" value="Next">        
                  </div>
                </form>
                 
                </div>
            </div>
      
            
          </div>
        </div>
      </div>      
</body>

</html>
