<!-- This is an HTML template a flask application. This file is the first page of a wizard that allows the user to enter details about a project. -->
<!-- The user can enter a project name, company name, industry, and use case. -->
<!-- On clicking the "Next" button, the form should be submitted to the /research_objectives flask route. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🤖 Knit AI Survey Generator</title>
    <!-- Link css file in the /css folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body>
    <div class="wrapper">
        <div id="wizard" class="wizard">
          <div class="wizard__content">
            <header class="wizard__header">
              <div class="wizard__header-overlay"></div>
              
              <div class="wizard__header-content">
                <h1 class="wizard__title" >🤖 Knit's AI Survey Generator</h1>
                <p class="wizard__subheading">Create bespoke survey designs in minutes.</p>
              </div>
              
              <div class="wizard__steps">
                <nav class="steps">
                <div class="step -completed">
                  <div class="step__content">
                    <p class="step__number">📃</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -start">
                      </div>
      
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div>  
                  </div>
                </div>
      
                <div class="step -completed">
                  <div class="step__content">
                    <p class="step__number">🔎</i></p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
      
                <div class="step -completed">
                  <div class="step__content">
                    <p class="step__number">🎉</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
              </nav>
              </div>
            </header>
            
            
            <div class="panels">
              <div class="panel">
                  <header class="panel__header">
                    <h2 class="panel__title">Hooray! Your survey is ready 🥳</h2>
                    <p class="panel__subheading">Export the survey design as a Google Doc and modify it if necessary.</p>
                  </header>
                 
                  <p class="panel__content">"{{ project_name }}" for {{ company_name }} is ready to view.</p>
                  <!-- button to download the survey as a Google Doc with a doc icon on the left side of the button -->
                  <a href="{{ doc_link }}" target="_blank" class="button button--primary button--block">
                    <i class="button__icon fas fa-file-download"></i>
                    <span class="button__text">Open with Google Docs</span>
                  </a>
                 
                </div>
            </div>
      
            
          </div>
        </div>
      </div>      
</body>

</html>
