<!-- This is an HTML template a flask application. This file is the first page of a wizard that allows the user to enter details about a project. -->
<!-- The user can enter a project name, company name, industry, and use case. -->
<!-- On clicking the "Next" button, the form should be submitted to the /research_objectives flask route. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🤖 Knit AI Survey Generator</title>
    <!-- Link css file in the /css folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
      function loading() {
          // Create a translucent overlay over the entire page. Change the opacity of the overlay to 0.5
          var overlay = document.createElement('div');
          overlay.id = 'overlay';
          overlay.style.position = 'absolute';
          overlay.style.top = 0;
          overlay.style.left = 0;
          overlay.style.width = '100%';
          overlay.style.height = '100%';
          overlay.style.background = "rgba(255, 255, 255, 0.7)";
          overlay.style.zIndex = 1000;
          document.body.appendChild(overlay);
          // Load a loading gif from the /static folder and display it in the center of the page
          var loadingGif = document.createElement('img');
          loadingGif.id = 'loadingGif';
          loadingGif.src = "{{ url_for('static', filename='Infinity-1.8s-544px.gif') }}";
          // the gif should be 200 pixels wide and 200 pixels high
          loadingGif.style.width = '200px';
          loadingGif.style.height = '200px';
          // the gif should be positioned exactly at the center of the page (vertically and horizontally) even if the user scrolls the page
          loadingGif.style.position = 'fixed';
          loadingGif.style.top = '50%';
          loadingGif.style.left = '50%';
          loadingGif.style.marginTop = '-100px';
          loadingGif.style.marginLeft = '-100px';
          loadingGif.style.zIndex = 1001;
          document.body.appendChild(loadingGif);
          // Display a message "Loading..." right below the loading gif and center it horizontally
          var loadingMessage = document.createElement('p');
          loadingMessage.id = 'loadingMessage';
          loadingMessage.innerHTML = 'The AI is generating your survey. This may take up to 1 minute.';
          loadingMessage.style.position = 'fixed';
          loadingMessage.style.top = '50%';
          loadingMessage.style.left = '50%';
          loadingMessage.style.marginTop = '100px';
          loadingMessage.style.marginLeft = '-228px';
          loadingMessage.style.zIndex = 1001;
          document.body.appendChild(loadingMessage);

      }
  </script>
</head>

<body>
    <div class="wrapper">
        <div id="wizard" class="wizard">
          <div class="wizard__content">
            <header class="wizard__header">
              <div class="wizard__header-overlay"></div>
              
              <div class="wizard__header-content">
                <h1 class="wizard__title" >🤖 Knit's AI Survey Generator</h1>
                <p class="wizard__subheading">Create bespoke survey designs in minutes.</p>
              </div>
              
              <div class="wizard__steps">
                <nav class="steps">
                <div class="step -completed">
                  <div class="step__content">
                    <p class="step__number">📃</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -start">
                      </div>
      
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div>  
                  </div>
                </div>
      
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">🔎</i></p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
      
                <div class="step">
                  <div class="step__content">
                    <p class="step__number">🎉</p>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
      
                    <div class="lines">
                      <div class="line -background">
                      </div>
      
                      <div class="line -progress">
                      </div>
                    </div> 
                  </div>
                </div>
              </nav>
              </div>
            </header>
            
            
            <div class="panels">
              <div class="panel">
                  <header class="panel__header">
                    <h2 class="panel__title">Research Objectives</h2>
                    <p class="panel__subheading">Tell the AI a little more about your business and research needs.</p>
                  </header>
                  <div class="accordion" style="width:80%">💡 <b>GUIDE: Phrasing Research Objectives like a PRO</b></div>
                  <div class="panel_accordion" style="width:80%">
                    <p style="font-size: 11pt; line-height: 17pt">Having clear research objectives is foundational to conducting quality research. They should comprehensively and concisely communicate the purpose of the research project (i.e. <i>Why are you conducting this research?</i>), the top of mind key questions you want answered (in the form of <i>Why…? How…? What…?</i>), and the impact of the research project (i.e. <i>What decisions will it guide?</i>).</p>
                    <p style="font-size: 11pt; line-height: 17pt"><b>For example, here is what a research objective might look like for your company:</b></p>
                    <blockquote><p style="font-size: 11pt; line-height: 17pt">{{ research_objectives | safe }}</p></blockquote>
                    <p style="font-size: 11pt; line-height: 17pt"><b>To make it easy for you, we've created a template to help you think through your research objectives:</b></p>
                    <blockquote><p style="font-size: 11pt; line-height: 17pt">The purpose of this research project is to <mark style="background-color: blanchedalmond;">&lt;PURPOSE AND USE CASE&gt;</mark>. Through this study, {{ company_name }} aims to understand <mark style="background-color: aqua;">&lt;KEY QUESTIONS&gt;</mark>. The results of the research project should help {{ company_name }} <mark style="background-color: #90ee90;">&lt;IMPACT OF THE RESEARCH&gt;</mark>.</p></blockquote>
                    <blockquote>
                    <span class="dot" style="vertical-align: -4px; background-color: blanchedalmond; margin-right: 10px;"></span><b style="font-size: 11pt;">Purpose and use case</b><br>
                    <p>
                      <ul style="font-size: 11pt; line-height: 17pt">
                        <li style="font-size: 10pt; line-height: 17pt">From a high level, what is the company hoping to achieve?</li>
                        <li style="font-size: 10pt; line-height: 17pt">What are the primary goals of the business at a company-wide level?</li>
                        <li style="font-size: 10pt; line-height: 17pt">What is the use case that this research can be categorized into?</li>
                      </ul>
                    </p>
                    <span class="dot" style="vertical-align: -4px; background-color: aqua; margin-right: 10px;"></span><b style="font-size: 11pt;">Key questions</b><br>
                    <p>
                      <ul style="font-size: 11pt; line-height: 17pt">
                        <li style="font-size: 10pt; line-height: 17pt">In the form of why, how, what, when, where…</li>
                        <li style="font-size: 10pt; line-height: 17pt">What questions do you have for your customers that you wish you had the answers to?</li>
                        <li style="font-size: 10pt; line-height: 17pt">What questions must be answered to drive the strategy in achieving the business objective?</li>
                      </ul>
                    </p>
                    <span class="dot" style="vertical-align: -4px; background-color: #90ee90; margin-right: 10px;"></span><b style="font-size: 11pt;">Impact of the research</b><br>
                    <p>
                      <ul style="font-size: 11pt; line-height: 17pt">
                        <li style="font-size: 10pt; line-height: 17pt">What does this study hope to impact?</li>
                        <li style="font-size: 10pt; line-height: 17pt">What business decisions are being affected by this research?</li>
                        <li style="font-size: 10pt; line-height: 17pt">Once you receive the results, what comes next?</li>
                      </ul>
                    </p>
                  </blockquote>
                  </div>
                <form action="{{ url_for('questionnaire') }}" method="POST">
                  <input type="hidden" name="project_name" value="{{ project_name }}">
                  <input type="hidden" name="company_name" value="{{ company_name }}">
                  <input type="hidden" name="use_case" value="{{ use_case }}">
                  <input type="hidden" name="business_overview" value="{{ business_overview}}">
                  <input type="hidden" name="industry" value="{{ industry }}">
                  <p class="panel__content">Please explain your research objectives. Check out our guide above for help!</p>
                  <textarea class="input" rows="10" id="research_objectives" placeholder="Research Objectives" value="" name="research_objectives" required>The purpose of this research project is to <PURPOSE AND USE CASE>. Through this study, <COMPANY NAME> aims to understand <KEY QUESTIONS>. The results of the research project should help <COMPANY NAME> <IMPACT OF THE RESEARCH>.</textarea>

                   <div class="wizard__footer">
                    <input type="submit" class="button next" value="Next" onclick="loading();"></input>       
                  </div>
                </form>
                 
                </div>
            </div>
      
            
          </div>
        </div>
      </div>      
</body>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
</html>
